.w-banner.w-banner--header.w-banner--gif .w-banner__image{
    background-size: contain;
    background-color: #000;
}

.w-banner.w-banner--header.w-banner--loading{
    overflow: hidden;
}

.w-banner.w-banner--header.w-banner--loading .w-banner__image{
    filter: blur(50px);
    transform: scale(2);
}

.b-article__header__title{
    margin-top: 0;
}

code.prettyprint,
pre.prettyprint {
    display: block;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
}

img.w100p{
    width: 100%;
}